<p [ngClass]="{  Opened: status === 'Opened', Closed: status === 'Closed' }" [ngStyle]="{ color: getColor() }">
    shop no {{ id }} is {{ status }}
</p>



<!--
1. Custom Data for ShopComponent:
---------------------------------

<p>shop no {{ id }} is {{ status }}</p>


2. Attribute Directives:
------------------------
        first write to the shop.component.css file 
Example 1:
----------

<p [ngClass]="{  Opened: status === 'Opened', Closed: status === 'Closed' }">
    shop no {{ id }} is {{ status }}
</p>


Example 2:
----------

<p [ngClass]="{  Opened: status === 'Opened', Closed: status === 'Closed' }" [ngStyle]="{ color: getColor() }">
    shop no {{ id }} is {{ status }}
</p>

-->