<h1>Home Page</h1>

<div class="container">
    <div class="row justify-content-center">
        <h3>Posts</h3>
        <ul>
            <li *ngFor="let post of posts">
                <a [routerLink]="['/post', post.id]">{{ post.title }}</a>
            </li>
        </ul>
    </div>
</div>

<!--
Example 1:
----------

<h1>Home Page</h1>

<div class="container">
    <div class="row justify-content-center">
        <h3>Posts</h3>

        <ul>
            <li><a routerLink="/post/1">Post 1</a></li>
            <li><a routerLink="/post/2">Post 2</a></li>
            <li><a routerLink="/post/3">Post 3</a></li>
        </ul>
    </div>
</div>


Example 2:
----------

<h1>Home Page</h1>

<div class="container">
    <div class="row justify-content-center">
        <h3>Posts</h3>
        <ul>
            <li *ngFor="let post of posts">
                <a [routerLink]="['/post', post.id]">{{ post.title }}</a>
            </li>
        </ul>
    </div>
</div>

-->