<ng-content></ng-content>

<!--
Example 1:
----------
<p>Product Works!</>

Example 2:
----------

<div class="card shadow-lg">
    <div class="card-header">Product Name</div>
    <img src="" alt="img" class="img-card-top" style="height: 220px;" />
    <div class="card-footer text-muted text-center">$Price</div>
</div>

Example 3:
----------

<div class="card shadow-lg">
    <div class="card-header">{{ product.name }}</div>
    <img [src]="product.imageUrl" alt="img" class="img-card-top" style="height: 220px;" />
    <div class="card-footer text-muted text-center">${{ product.price }}</div>
</div>

Example 4:
----------

<ng-content></ng-content>
-->