<app-product-upsert (addProduct)="onProductAdd($event)"></app-product-upsert>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3" *ngFor="let product of productList">
            <app-product [product]="product">
                <div class="card shadow-lg">
                    <div class="card-header">{{ product.name }}</div>
                    <img [src]="product.imageUrl" alt="img" class="img-card-top" style="height: 220px;" />
                    <div class="card-footer text-muted text-center">${{ product.price }}</div>
                </div>
            </app-product>
        </div>
    </div>
</div>



<!--

Example 1:
----------

<app-product-upsert></app-product-upsert>

Example 2:
----------

<app-product-upsert></app-product-upsert>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <app-product></app-product>
        </div>
    </div>
</div>

Example 3:
----------
    [product] is a input for product.component.html file


<app-product-upsert></app-product-upsert>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3" *ngFor="let product of productList">
            <app-product [product]="product"></app-product>
        </div>
    </div>
</div>

Example 4:
----------

<app-product-upsert (addProduct)="onProductAdd($event)"></app-product-upsert>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3" *ngFor="let product of productList">
            <app-product [product]="product"></app-product>
        </div>
    </div>
</div>

Example 5:
----------

<app-product-upsert (addProduct)="onProductAdd($event)"></app-product-upsert>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3" *ngFor="let product of productList">
            <app-product [product]="product">
                <div class="card shadow-lg">
                    <div class="card-header">{{ product.name }}</div>
                    <img [src]="product.imageUrl" alt="img" class="img-card-top" style="height: 220px;" />
                    <div class="card-footer text-muted text-center">${{ product.price }}</div>
                </div>
            </app-product>
        </div>
    </div>
</div>

-->