<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="javascript:void(0);" routerLink="/">Register & Login System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav ml-auto">

            <ng-container *ngIf="this.auth.isAuthenticated();then authenticated;else notAuthenticated">

            </ng-container>

            <ng-template #notAuthenticated>
                <li class="nav-item"><a href="javascript:void(0);" routerLink="/register" class="nav-link">Register</a></li>
                <li><a class="nav-link" href="javascript:void(0);" routerLink="/login">Login</a></li>
            </ng-template>

            <ng-template #authenticated>
                <li class="nav-item"><a href="javascript:void(0);" routerLink="/dashboard" class="nav-link">Dashboard</a></li>
                <li><a class="nav-link" href="javascript:void(0);" routerLink="/">Logout</a></li>
            </ng-template>

        </ul>

    </div>
</nav>

<!--
Example 01:
-----------

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="javascript:void(0);" routerLink="/">Register & Login System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item"><a href="javascript:void(0);" routerLink="/register" class="nav-link">Register</a></li>
            <li><a class="nav-link" href="javascript:void(0);" routerLink="/login">Login</a></li>

            <li class="nav-item"><a href="javascript:void(0);" routerLink="/dashboard" class="nav-link">Dashboard</a></li>
            <li><a class="nav-link" href="javascript:void(0);" routerLink="/">Logout</a></li>

        </ul>

    </div>
</nav>

Example 02:
-----------

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="javascript:void(0);" routerLink="/">Register & Login System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav ml-auto">

            <ng-container *ngIf="false;then authenticated;else notAuthenticated">

            </ng-container>

            <ng-template #notAuthenticated>
                <li class="nav-item"><a href="javascript:void(0);" routerLink="/register" class="nav-link">Register</a></li>
                <li><a class="nav-link" href="javascript:void(0);" routerLink="/login">Login</a></li>
            </ng-template>

            <ng-template #authenticated>
                <li class="nav-item"><a href="javascript:void(0);" routerLink="/dashboard" class="nav-link">Dashboard</a></li>
                <li><a class="nav-link" href="javascript:void(0);" routerLink="/">Logout</a></li>
            </ng-template>

        </ul>

    </div>
</nav>

Exampl 03:
----------

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="javascript:void(0);" routerLink="/">Register & Login System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav ml-auto">

            <ng-container *ngIf="this.auth.isAuthenticated();then authenticated;else notAuthenticated">

            </ng-container>

            <ng-template #notAuthenticated>
                <li class="nav-item"><a href="javascript:void(0);" routerLink="/register" class="nav-link">Register</a></li>
                <li><a class="nav-link" href="javascript:void(0);" routerLink="/login">Login</a></li>
            </ng-template>

            <ng-template #authenticated>
                <li class="nav-item"><a href="javascript:void(0);" routerLink="/dashboard" class="nav-link">Dashboard</a></li>
                <li><a class="nav-link" href="javascript:void(0);" routerLink="/">Logout</a></li>
            </ng-template>

        </ul>

    </div>
</nav>

-->