<h1>{{shoppingMallName}}</h1>
<app-shop *ngFor="let shop of shops"></app-shop>

<input type="text" [(ngModel)]="shopName" />

<button [disabled]="isButtonActive" (click)="onCreateShop()">Submit</button>

<p *ngIf="isShopCreated;else noshop">Shop was created, shop name is {{shopName}}</p> <!-- * is structre deractive -->

<ng-template #noshop>
        <p>No shop was created</p>
</ng-template>


<!--
1. String Interpolation - One way binding :
-------------------------------------------

<h1>{{shoppingMallName}}</h1> 
<app-shop></app-shop>


2. Property Binding - One way binding :
---------------------------------------
        Dynamically access for button . use type 2. Property Binding. property binding for one element 

<h1>{{shoppingMallName}}</h1> 
<app-shop></app-shop>

<button [disabled]="isButtonActive">Submit</button> 
<p>{{isButtonActive}}</p>


3. Event Binding - One way binding :
------------------------------------
        Event Binding for trigger the button.

Example 1:
----------

<h1>{{shoppingMallName}}</h1> 
<app-shop></app-shop>

<button [disabled]="isButtonActive" (click)="onCreateShop()">Submit</button> 
<p>{{isButtonActive}}</p>

<p>{{createNewShop}}</p>

Example 2:
----------

<h1>{{shoppingMallName}}</h1>
<app-shop></app-shop>

<input type="text" (input)="onUpdateShopName($event)" />

<button [disabled]="isButtonActive" (click)="onCreateShop()">Submit</button>
<p>{{isButtonActive}}</p>

<p>{{createNewShop}}</p>


4. Two-way-Binding :
--------------------
Example 1:
----------

<h1>{{shoppingMallName}}</h1>
<app-shop></app-shop>

<input type="text" [(ngModel)]="shopName" />

<p>{{shopName}}</p>

<button [disabled]="isButtonActive" (click)="onCreateShop()">Submit</button>
<p>{{isButtonActive}}</p>

<p>{{createNewShop}}</p>


Example 2:
----------

        no change


Example 3:
----------
        * is structre deractive. and *ngIf and *ngFor is a deractives so breifly explain that part.


<h1>{{shoppingMallName}}</h1>
<app-shop></app-shop>

<input type="text" [(ngModel)]="shopName" />

<button [disabled]="isButtonActive" (click)="onCreateShop()">Submit</button>

<p *ngIf="isShopCreated">Shop was created, shop name is {{shopName}}</p> 


Example 4:
----------
        noshop is a local referance name.


<h1>{{shoppingMallName}}</h1>
<app-shop></app-shop>

<input type="text" [(ngModel)]="shopName" />

<button [disabled]="isButtonActive" (click)="onCreateShop()">Submit</button>

<p *ngIf="isShopCreated;else noshop">Shop was created, shop name is {{shopName}}</p> 

<ng-template #noshop>
        <p>No shop was created</p>
</ng-template>


Example 5:
----------

<h1>{{shoppingMallName}}</h1>
<app-shop *ngFor="let shop of shops"></app-shop>

<input type="text" [(ngModel)]="shopName" />

<button [disabled]="isButtonActive" (click)="onCreateShop()">Submit</button>

<p *ngIf="isShopCreated;else noshop">Shop was created, shop name is {{shopName}}</p> 

<ng-template #noshop>
        <p>No shop was created</p>
</ng-template>

-->