<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container p-5 rounded shadow" style="background-color: #b6ccdb;">

        <h3 class="text-center mb-4">Template Driven Form</h3>

        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
            <!--1. #contactForm is a template variable, 2. ngForm - ngForm Directive is used for controlling the template elements -->
            <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" ngModel>
            </div>

            <div class="mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" ngModel>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" ngModel>
            </div>

            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" value="male" id="genderMale" name="gender" ngModel>
                    <label class="form-check-label" for="genderMale">Male</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" value="female" id="genderFemale" name="gender" ngModel>
                    <label class="form-check-label" for="genderFemale">Female</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="isMarried" class="form-label">Married</label>
                <input type="checkbox" class="form-check-input" id="isMarried" name="isMarried" ngModel>
            </div>

            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <select class="form-select" name="country" id="country" ngModel>
                    <option value="">Select</option>
                    <option [ngValue]="country.id" *ngFor="let country of countryList">{{country.name}}</option>
                </select>
            </div>

            <div ngModelGroup="address">
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" name="city" ngModel>
                </div>

                <div class="mb-3">
                    <label for="pincode" class="form-label">Pincode</label>
                    <input type="text" class="form-control" id="pincode" name="pincode" ngModel>
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>

    </div>
</div>

<!--
Example 1:
----------

<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="container p-5 bg-white rounded shadow">

        <h3 class="text-center mb-4">Template Driven Form</h3>

        <form>
            <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname">
            </div>

            <div class="mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" value="male" id="genderMale" name="gender">
                    <label class="form-check-label" for="genderMale">Male</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" value="female" id="genderFemale" name="gender">
                    <label class="form-check-label" for="genderFemale">Female</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="isMarried" class="form-label">Married</label>
                <input type="checkbox" class="form-check-input" id="isMarried" name="isMarried">
            </div>

            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <select class="form-select" name="country" id="country">
                    <option selected="" value=""></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>

    </div>
</div>


Example 2:
----------

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container p-5 rounded shadow" style="background-color: #b6ccdb;">

        <h3 class="text-center mb-4">Template Driven Form</h3>

        <form>
            <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname">
            </div>

            <div class="mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" value="male" id="genderMale" name="gender">
                    <label class="form-check-label" for="genderMale">Male</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" value="female" id="genderFemale" name="gender">
                    <label class="form-check-label" for="genderFemale">Female</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="isMarried" class="form-label">Married</label>
                <input type="checkbox" class="form-check-input" id="isMarried" name="isMarried">
            </div>

            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <select class="form-select" name="country" id="country">
                    <option  value="">Select</option>
                    <option [ngValue]="country.id" *ngFor="let country of countryList">{{country.name}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>

    </div>
</div>

Example 3:
----------
        -- 1. #contactForm is a template variable, 2. ngForm - ngForm Directive is used for controlling the template elements 


<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container p-5 rounded shadow" style="background-color: #b6ccdb;">

        <h3 class="text-center mb-4">Template Driven Form</h3>

        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
            
            <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" ngModel>
            </div>

            <div class="mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" ngModel>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" ngModel>
            </div>

            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" value="male" id="genderMale" name="gender" ngModel>
                    <label class="form-check-label" for="genderMale">Male</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" value="female" id="genderFemale" name="gender" ngModel>
                    <label class="form-check-label" for="genderFemale">Female</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="isMarried" class="form-label">Married</label>
                <input type="checkbox" class="form-check-input" id="isMarried" name="isMarried" ngModel>
            </div>

            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <select class="form-select" name="country" id="country" ngModel>
                    <option value="">Select</option>
                    <option [ngValue]="country.id" *ngFor="let country of countryList">{{country.name}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>

    </div>
</div>

Example 4:
----------

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container p-5 rounded shadow" style="background-color: #b6ccdb;">

        <h3 class="text-center mb-4">Template Driven Form</h3>

        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
            <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" ngModel>
            </div>

            <div class="mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" ngModel>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" ngModel>
            </div>

            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" value="male" id="genderMale" name="gender" ngModel>
                    <label class="form-check-label" for="genderMale">Male</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" value="female" id="genderFemale" name="gender" ngModel>
                    <label class="form-check-label" for="genderFemale">Female</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="isMarried" class="form-label">Married</label>
                <input type="checkbox" class="form-check-input" id="isMarried" name="isMarried" ngModel>
            </div>

            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <select class="form-select" name="country" id="country" ngModel>
                    <option value="">Select</option>
                    <option [ngValue]="country.id" *ngFor="let country of countryList">{{country.name}}</option>
                </select>
            </div>

            <div ngModelGroup="address">
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" name="city" ngModel>
                </div>

                <div class="mb-3">
                    <label for="pincode" class="form-label">Pincode</label>
                    <input type="text" class="form-control" id="pincode" name="pincode" ngModel>
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>

    </div>
</div>
-->