<h1>App Component</h1>
<br><br>

<ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact-us">Contact-us</a></li>
</ul>

<router-outlet></router-outlet>

<!--
Example 1:
----------

<h1>App Component</h1>
<br><br>

<router-outlet></router-outlet>

Example 2:
----------

<h1>App Component</h1>
<br><br>

<ul>
    <li><a [routerLink]="['']">Home</a></li>
    <li><a [routerLink]="['about']">About</a></li>
    <li><a [routerLink]="['contact-us']">Contact-us</a></li>
</ul>

<router-outlet></router-outlet>

Example 3:
----------

<h1>App Component</h1>
<br><br>

<ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact-us">Contact-us</a></li>
</ul>

<router-outlet></router-outlet>

-->